{{ partial "header" . }}

<main>

  <div class="intro">

      {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

      <h1>{{ .Site.Title }}</h1>

      <h2 style='margin-bottom: 1em;'>{{ markdownify .Site.Params.Description }}</h2>

      <pre style='margin-bottom: 2em;'><code style='text-align: left;'># nginx
location / {
  error_page 404 =302 https://2017.4042302.org$request_uri;
  try_files $uri $uri/ =404;
}</code></pre>

    <div class='details' style='text-align: left;'>
      <p><strong>What if links never died?</strong> What if we never broke the Web? What if it didn’t involve any extra work?</p>
      <p>It’s possible. And <em>easy.</em></p>
      <p>Just make your 404s into 302s.</p>
      <p><strong>Try it out:</strong></p>
      <ul>
        <li>A page from 2017: <a href='/an-older-page'>/an-older-page</a></li>
        <li>A page from 1997: <a href='/me.htm'>/me.htm</a></li>
        <li>A page that doesn’t exist: <a href='/missing'>/missing</a></li>
      </ul>
    <p><strong>Learn more:</strong></p>
    <ul>
      <li><a href='/why'>Why</a> is this important?</li>
      <li><a href='/how'>How</a> do I implement it?</li>
    </ul>
    </div>

  </div>

</main>

{{ partial "footer" . }}
